@page
@model recuritcat_vutukubi_.Pages.AboutUsModel
@{
}

<div class="container">
    <div class="row">
        <div class="col-4">
        <img class="rounded-circle w-50 h-50 text-center" src="https://th.bing.com/th?id=OIP.WlUDXSME4D1KBxKlZEtVuwHaKA&w=215&h=290&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2" />
        <h1>jack renner</h1>
        <p>telearc chairman,ceo</p>
        </div>
        <div class="col-4">
            <img class="rounded-circle w-50 h-50" src="https://th.bing.com/th?id=OIP.WlUDXSME4D1KBxKlZEtVuwHaKA&w=215&h=290&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2" />
            <h1> robert </h1>
            <p>account manager</p>
        </div>
        <div class="col-4">
            <img class="rounded-circle w-50 h-50" src="https://th.bing.com/th?id=OIP.WlUDXSME4D1KBxKlZEtVuwHaKA&w=215&h=290&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2" />
            <h1>john</h1>
            <p>board member</p>
        </div>
    </div>
</div>
