@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="https://th.bing.com/th/id/OIP.PQWCSyy5wzVR_GjPvbOAUAHaBq?pid=ImgDet&rs=1" />
    <h1 class="display-4">telearc Technologies</h1>
    <p>Startup company</p>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>telearc Technologies</h2>
            <span>madhapur hyderabad,telangana,india </span>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>telearc Technologies</h2>
            <span>+12168318322</span>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Telearc Technologies</h2>
            <span>Telecommunications area</span>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Telearc Technologies</h2>
            <span>advertising testimonials</span>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>telearc technologies</h2>
            <span><a></span>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>telearc technologies</h2>
            <span>contect marketing is the creation and distribution of helpful,relevent content (like blog posts and infographics)for target audiences with the aim of maintaining or increasing interest in your brand.</span>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>telearc technologies</h2>
            <span>lorem ipsum,in graphical and textual context,refers to filler text that is placed in a document or visual presentation.</span>
        </div>
    </div>
</div>
